In [2]:
import numpy as np
from scipy import sparse
import pandas as pd

In [8]:
cache_path = "Data/gnn/cache_helgeland.npz"
npz = np.load(cache_path, allow_pickle=True)
X = npz["X"]; y = npz["y"]; ids = npz["ids"]
A_norm = sparse.csr_matrix(
            (npz["A_data"], npz["A_indices"], npz["A_indptr"]),
            shape=npz["A_shape"]
        )
print(X.shape, y.shape, ids.shape, A_norm.shape)

(5717, 65344) (5717,) (5717,) (5717, 5717)

In [3]:
X

array([[0., 1., 0., ..., 2., 0., 0.],
       [0., 1., 0., ..., 1., 0., 0.],
       [0., 2., 1., ..., 0., 0., 1.],
       ...,
       [0., 2., 0., ..., 0., 0., 2.],
       [0., 2., 0., ..., 0., 0., 2.],
       [0., 0., 0., ..., 2., 0., 0.]], dtype=float32)

In [4]:
y

array([ 3.8494434 ,  1.7991    ,  0.50056416, ...,  0.75904787,
       -0.48954433,  0.08736372], dtype=float32)

In [5]:
ids

array(['8L19505', '8L19506', '8L19540', ..., '8981971', '8981972',
       '8L49911'], dtype=object)

In [13]:
a_df = pd.DataFrame(A_norm.toarray())
a_df

,0,1,2,3,4,5,6,7,8,9,...,5707,5708,5709,5710,5711,5712,5713,5714,5715,5716
0,0.200000,0.223607,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.00,0.0,0.000000,0.000000,0.00,0.0,0.0
1,0.223607,0.250000,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.00,0.0,0.000000,0.000000,0.00,0.0,0.0
2,0.000000,0.000000,0.25,0.00,0.00,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.25,0.0,0.000000,0.000000,0.00,0.0,0.0
3,0.000000,0.000000,0.00,0.25,0.00,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.00,0.0,0.000000,0.000000,0.00,0.0,0.0
4,0.000000,0.000000,0.00,0.00,0.25,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.00,0.0,0.000000,0.000000,0.00,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5712,0.000000,0.000000,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.00,0.0,0.250000,0.204124,0.00,0.0,0.0
5713,0.000000,0.000000,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.00,0.0,0.204124,0.166667,0.00,0.0,0.0
5714,0.000000,0.000000,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.00,0.0,0.000000,0.000000,0.25,0.0,0.0
5715,0.000000,0.000000,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.00,0.0,0.000000,0.000000,0.00,0.2,0.0
5716,0.000000,0.000000,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.00,0.0,0.000000,0.000000,0.00,0.0,0.2

In [6]:
a = np.load("Data/gnn/snp_tarsus_ALL.npz", allow_pickle=False)

In [17]:
a = np.load("Data/gnn/snp_tarsus_ALL.npz", allow_pickle=False)
loc = a["locality"]
pd.value_counts(loc)

C:\Users\Simen\AppData\Local\Temp\ipykernel_18380\417201559.py:3: FutureWarning: pandas.value_counts is deprecated and will be removed in a future version. Use pd.Series(obj).value_counts() instead.
  pd.value_counts(loc)
C:\Users\Simen\AppData\Local\Temp\ipykernel_18380\417201559.py:3: FutureWarning: The behavior of value_counts with object-dtype is deprecated. In a future version, this will *not* perform dtype inference on the resulting index. To retain the old behavior, use `result.index = result.index.infer_objects()`
  pd.value_counts(loc)

27    1067
60     591
63     584
26     559
67     486
61     411
28     352
23     288
33     258
68     203
24     195
38     174
35     163
34     152
20     118
22      94
37       6
30       5
90       4
29       3
69       1
93       1
21       1
36       1
39       1
40       1
Name: count, dtype: int64

In [3]:
pheno = pd.read_csv("Data/gnn/adjusted_thr_tarsus.csv")
pheno = pheno.set_index("ringnr")
pheno.index = pheno.index.astype(str)
pheno

,y_adjusted,n_obs,y_mean,O_HOM,E_HOM,N_SITES,F_hat,locality
ringnr,,,,,,,,
8118424,0.314845,3,19.863333,43882,43350,64806,-0.014916,28
8118425,-0.067300,3,19.350000,43914,43340,64796,-0.013066,28
8118426,0.116031,6,19.606667,45164,42650,63638,0.080004,28
8118429,0.117632,1,19.680000,44091,43170,64538,0.003424,28
8118430,-0.625197,2,18.850000,43549,43350,64815,-0.030669,28
...,...,...,...,...,...,...,...,...
8P26746,-0.444718,1,18.910000,44787,43290,64729,0.029804,33
8P26748,1.214738,2,20.680000,43673,43190,64572,-0.017106,33
8P26749,-0.387819,2,19.055000,44483,43360,64832,0.012234,33
8P26761,0.239157,1,19.910000,44215,43340,64799,0.000884,34
8P26917,0.822391,1,20.200000,43343,43260,64671,-0.035944,68